doctype html
html
  head
    title Agency - Start Bootstrap Theme
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/all.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/agency.min.css', rel='stylesheet')
    link(href='/stylesheets/agency.css', rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/jquery.easing.min.js')
    script(src='/javascripts/jqBootstrapValidation.js')
    script(src='/javascripts/contact_me.js')
    script(src='/javascripts/agency.min.js')
  body
    block content
